/* For this project you will make a Rock, Paper, and Scissors game.

The design of your webpage is completely up to you. The only requirements are as follows:
- A user is able to choose between three options, Rock, Paper, and Scissors.
- When an option is chosen, it must be obvious to the use which option has been chosen.
- When clicking a 'submit' button, the user's choice will be submitted and it will be compared against a randomly generated computer choice.
- The user is then presented with an alert that tells them if they won, tied, or lost, and includes the user's input as well as the computer's input. */

body {
    margin: 8px;
}
h1{
    text-align: center;
}
.container{
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
      
}
.grid-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

margin: 13px;  
}
.container img {
    border: 1px solid black;
    border-radius: 12px;
    height: 25vh;
    width: 35vh;
    
}
.grid-container button {
    /* want to align buttons with center of image */
    display: flex;
    justify-content: center;
    align-items: center;
}